ipykernel
pandas
numba
lightgbm
statsmodels
scipy
scikit-learn
ray
ray[train]
ipywidgets
pyarrow
# DL
transformers
transformers[sentencepiece]
jax[cuda12]
bitsandbytes
accelerate
# plot
seaborn
plotly
# ipython
notebook
jupyter
jupyter_contrib_nbextensions
# ai
openai
# development tools
pytest
ruff
black
sphinx
