ipykernel
pandas
numba
lightgbm
statsmodels
scipy
scikit-learn
ray
ray[train]
ipywidgets
pyarrow
# DL
transformers
transformers[sentencepiece]
jax[cpu]
# plot
seaborn
plotly
# ipython
notebook
# ai
openai
# development tools
pytest
ruff
black
sphinx
