ipykernel
pandas
numba
jax[cpu]
lightgbm
statsmodels
scipy
scikit-learn
ray
ray[train]
ipywidgets
pyarrow
# plot
seaborn
plotly
# ipython
notebook
# ai
openai
# development tools
pytest
ruff
black
sphinx
